<div class="container">
    <div style="text-align: center;">
        <h2>Order Placed Successfully</h2>
    </div>
    <div style="text-align: center;">
        <a href="/user/view-orders" class="btn btn-success">View Orders</a>
    </div>
</div>